project:
  type: website
  output-dir: docs

website:
  title: "Felix Geo"
  navbar:
    left:
      - text: "Home"
        href: index.qmd
      - text: "About"
        href: about.qmd
    right:
      - text: "Posts"
        href: posts/


