project:
  type: website

website:
  title: "felixgeo"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

publish:
  github:
    repository: felixgeo/felixgeo

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

